body{
    font-family: 'poppins', sans-serif !important;
}

a{
    text-decoration: none;
    color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.slide-img{
  height: 640px;
  object-fit: cover;
  filter: brightness(0.5);
}