body{
    font-family: 'poppins', sans-serif !important;
}

a{
    text-decoration: none;
    color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.slide-img{
  height: 640px;
  object-fit: cover;
  filter: brightness(0.5);
}
  
.area-booking{
  margin-top: 120px;
  margin-bottom: 120px;
}

.img-booking{
  width: 200px;
  height: 350px;
  object-fit: cover;
}

.img-booking1{
  width: 200px;
  height: 200px;
  object-fit: cover;
}